{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>FIRST MBBS</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <div class="header">
        FIRST MBBS STUDENTS
    </div>

    <div class="container">

        <div class="card">

            <table width="100%" border="1" cellpadding="10">

                <tr>
                    <th>Sr No</th>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>PRN</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>101</td>
                    <td>Amit</td>
                    <td>9876543210</td>
                    <td>PRN001</td>
                </tr>

            </table>

        </div>

    </div>

</body>

</html>
